<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans>
    <!-- Spring Bean -->
    <bean id="userDao" class="com.cn.tszsoft.eoa.dao.UserDao">
        <!-- <property name="sessionFactory" ref="sessionFactory"></property> -->
    </bean>

    <bean id="loginServiceBase" class="com.cn.tszsoft.eoa.service.LoginService">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <!-- parent为transactionBese，表示支持事务 -->
    <!-- <bean id="loginService" parent="transactionBese">
        <property name="target" ref="loginServiceBase"></property>
    </bean> -->

</beans>